.lescours {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:column;
    margin: 2rem;

    h2 {
        align-items: left;
        font-size: 3rem;
        margin: 1rem;
    }
    
    .session {  
        width: 800px;
        background-color: palegreen; //reperage
        display: flex;
        flex-direction:row;
        justify-content: space-between;

        article {

            height: 200px;
            display: flex;
            flex-direction:column; // l'écriture
            margin: 10px;
            border: 2px solid black;
            align-items: center;
            justify-content: space-around;

            p {
                transform: rotate(-90deg);
            }
            p:nth-of-type(2) {
                display: none;
            }

            a {
                display: none;
            }
        }
    }
}

$border: 2px dotted black;
//Cours à option
.session:nth-of-type(4) { //4e session
    article:nth-of-type(2) { //web
        border: $border
    }
    article:nth-of-type(3) { //imagerie 2d/3d
        border: $border
    }
}

.session:nth-of-type(5) { //5e session
    article:nth-of-type(2) { //web
        border: $border
    }
    article:nth-of-type(3) { //jeu
        border: $border
    }
    article:nth-of-type(4) { //jeu
        border: $border
    }
    article:nth-of-type(5) { //jeu
        border: $border
    }

}

//////////////////////////////////// desktop
@include desktop {
    .lescours {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction:column;
        margin: 2rem;
    
        h2 {
            align-items: left;
            font-size: 3rem;
            margin-right: 1rem;
        }
        
        .session {
            width: 1600px;
            background-color: palegreen; //reperage
            display: flex;
            flex-direction:row;
            justify-content: space-between;

            article {
                height: 150px; 
                
                p {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 5px;
                    transform: rotate(0deg);
                }
                a, p:nth-of-type(2) {
                    display: flex;
                    transform: rotate(0deg);
                }
            }
        }
    }
}